<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="image-wrapper">
      @for (imgItem of modalDetails.srcImagesList; track imgItem) {
      <img class="image" [src]="imgItem" [alt]="'imgItem'" />
      }
    </div>
    <div class="input-wrapper">
      <p class="range-value">
        @if (modalDetails.measure === 'percent') {
        {{ modalDetails.value }}% } @else { {{ modalDetails.value }}° }
      </p>
      <input
        class="range"
        type="range"
        name="range"
        [min]="modalDetails.min"
        [max]="modalDetails.max"
        [value]="modalDetails.value"
        [step]="modalDetails.step"
        [(ngModel)]="modalDetails.value"
        (ngModelChange)="handlerRage(modalDetails.value)" />
    </div>
    <p class="description">{{ modalDetails.description }}</p>
    <button class="button" (click)="handlerConfirm()">OK</button>
  </div>
</div>
