<div class="material-wrapper">
	<div class="material-block">
		<div class="material-item" *ngFor="let item of materialType">
			<p [ngClass]="item" (click)="handlerFilterByType(item)">{{item}}</p>
		</div>
	</div>
	<div class="details-block">
		<div class="detail-item" *ngFor="let detail of materialsDetails">
			<div class="material-type" [ngClass]="'type' + detail.materialGroup">
				{{detail.id}}
			</div>
			<div class="details-description">
				<p>{{detail.displayText}}</p>
				<p>{{detail.detailText}}</p>
				<p> ({{detail.hardnessUnit}} {{detail.hardnessValue}}, {{detail.tensileStrengthPrefix}} {{detail.tensileStrengthValue}} {{detail.tensileStrengthUnit}})</p>
			</div>
			<div>check</div>
		</div>
	</div>
</div>