<div class="face-milling-wrapper">
  <div class="face-milling-block">
    <div class="">
      <div
        class="material-block"
        [routerLink]="['/milling/face-milling/material']">
        <div class="material-info" [ngClass]="materialData.materialGroup">
          <div class="material-group">{{ materialData.materialGroup }}</div>
          <div>
            <p>{{ materialData.displayText }}</p>
            <p>{{ materialData.detailText }}</p>
            <p>
              ({{ materialData.hardnessUnit }} {{ materialData.hardnessValue }},
              {{ materialData.tensileStrengthPrefix }}
              {{ materialData.tensileStrengthValue }}
              {{ materialData.tensileStrengthUnit }})
            </p>
          </div>
        </div>
      </div>
      <div class="calculator-wrapper">
        <form [formGroup]="calculationForm" class="form-group-wrapper">
          <div class="input-block">
            <p>Diameter</p>
            <input
              min="0"
              class="input"
              type="number"
              formControlName="dc"
              (ngModelChange)="handlerDiameter(calculationForm.value.dc)" />
            <div class="parametr-block">
              <p>Dc | mm</p>
              @if (calculationForm.value.dc) {
              <img class="edit-image" src="/assets/edit.svg" />
              }
            </div>
          </div>
          <div class="input-block">
            <p>Cutting speed</p>
            <input
              class="input"
              min="0"
              type="number"
              formControlName="vc"
              (ngModelChange)="handlerCuttingSpeed(calculationForm.value.vc)" />
            <div class="parametr-block">
              <p>vc | m/min</p>
              @if (calculationForm.value.vc) {
              <img class="edit-image" src="/assets/edit.svg" />
              }
            </div>
          </div>
          <div class="input-block">
            <p>Revolutions per minute, RPM</p>
            <input
              class="input"
              min="0"
              type="number"
              formControlName="n"
              [value]="calculationForm.value.n"
              (ngModelChange)="handlerPerMinute(calculationForm.value.n)" />
            <div class="parametr-block">
              <p>n | RPM</p>
              @if (calculationForm.value.n) {
              <img class="edit-image" src="/assets/edit.svg" />
              }
            </div>
          </div>
          <div class="input-block">
            <p>No. of teeth</p>
            <input
              class="input"
              min="0"
              type="number"
              formControlName="z"
              (ngModelChange)="handlerNumberOfTeeth(calculationForm.value.z)" />
            <div class="parametr-block">
              <p>Z</p>
              @if (calculationForm.value.z) {
              <img class="edit-image" src="/assets/edit.svg" />
              }
            </div>
          </div>
          <div class="input-block">
            <p>Depth of cut</p>
            <input
              class="input"
              min="0"
              type="number"
              formControlName="ap"
              (ngModelChange)="handlerDepthOfCut(calculationForm.value.ap)" />
            <div class="parametr-block">
              <p>ap | mm</p>
              @if (calculationForm.value.ap) {
              <img class="edit-image" src="/assets/edit.svg" />
              }
            </div>
          </div>
          <div class="input-block">
            <p>Width of cut</p>
            <input
              class="input"
              min="0"
              type="number"
              formControlName="ae"
              (ngModelChange)="handlerWithOfCut(calculationForm.value.ae)" />
            <div class="parametr-block">
              <p>ae | mm</p>
              @if (calculationForm.value.ae) {
              <img class="edit-image" src="/assets/edit.svg" />
              }
            </div>
          </div>
          <div class="input-block">
            <p>Entry angle</p>
            <input
              class="input"
              min="0"
              type="number"
              formControlName="entryAngle"
              (ngModelChange)="
                handlerEnterAngle(calculationForm.value.entryAngle)
              " />
            <div class="parametr-block">
              <p>k | °</p>
              @if (calculationForm.value.entryAngle) {
              <img class="edit-image" src="/assets/edit.svg" />
              }
            </div>
          </div>
          <div class="input-block">
            <p>Feed per tooth</p>
            <input
              class="input"
              min="0"
              type="number"
              formControlName="fz"
              (ngModelChange)="handlerFeedPerTooth(calculationForm.value.fz)" />
            <div class="parametr-block">
              <p>fz | mm</p>
              @if (calculationForm.value.fz) {
              <img class="edit-image" src="/assets/edit.svg" />
              }
            </div>
          </div>
          <div class="input-block">
            <p>Feed per revolution</p>
            <input
              class="input"
              min="0"
              type="number"
              formControlName="fn"
              (ngModelChange)="
                handlerFeedPerRevolution(calculationForm.value.fn)
              " />
            <div class="parametr-block">
              <p>fn | mm/rev</p>
              @if (calculationForm.value.fn) {
              <img class="edit-image" src="/assets/edit.svg" />
              }
            </div>
          </div>
          <div class="input-block">
            <p>Linear feed</p>
            <input
              class="input"
              min="0"
              type="number"
              formControlName="vf"
              (ngModelChange)="handlerLinearFeed(calculationForm.value.vf)" />
            <div class="parametr-block">
              <p>vf | mm/min</p>
              @if (calculationForm.value.vf) {
              <img class="edit-image" src="/assets/edit.svg" />
              }
            </div>
          </div>
          <div class="input-block">
            <p>Length of cut</p>
            <input
              class="input"
              min="0"
              type="number"
              formControlName="cutLength"
              (ngModelChange)="
                handlerLengthOfCut(calculationForm.value.cutLength)
              " />
            <div class="parametr-block">
              <p>lm | mm</p>
              @if (calculationForm.value.cutLength) {
              <img class="edit-image" src="/assets/edit.svg" />
              }
            </div>
          </div>
          <div class="input-block">
            <p>Overhang</p>
            <input
              class="input"
              min="0"
              type="number"
              formControlName="overhang"
              (ngModelChange)="
                handlerOverhang(calculationForm.value.overhang)
              " />
            <div class="parametr-block">
              <p>U | mm</p>
              @if (calculationForm.value.overhang) {
              <img class="edit-image" src="/assets/edit.svg" />
              }
            </div>
          </div>
          <div class="input-block">
            <p>Rake angle</p>
            <input
              class="input"
              min="0"
              type="number"
              formControlName="rakeAngle"
              [value]="calculationForm.value.rakeAngle"
              (ngModelChange)="
                handlerRakeAngel(calculationForm.value.rakeAngle)
              "
              (click)="handlerIsOpenRakeAngelModal()" />
            <div class="parametr-block">
              <p>γ | °</p>
              @if (calculationForm.value.rakeAngle) {
              <img class="edit-image" src="/assets/edit.svg" />
              }
            </div>
          </div>
          <div class="input-block">
            <p>Efficiency</p>
            <input
              class="input"
              min="0"
              type="number"
              formControlName="efficiency"
              [value]="calculationForm.value.efficiency"
              (ngModelChange)="
                handlerEfficiency(calculationForm.value.efficiency)
              "
              (click)="handlerIsOpenEfficiencyModal()" />
            <div class="parametr-block">
              <p>η | %</p>
              @if (calculationForm.value.efficiency) {
              <img class="edit-image" src="/assets/edit.svg" />
              }
            </div>
          </div>
          <div class="input-block">
            <p>Wear factor</p>
            <input
              class="input"
              min="0"
              type="number"
              formControlName="wearFactor"
              [value]="calculationForm.value.wearFactor"
              (ngModelChange)="
                handlerWearFactor(calculationForm.value.wearFactor)
              "
              (click)="handlerIsOpenWearFactorModal()" />
            <div class="parametr-block">
              <p>%</p>
              @if (calculationForm.value.wearFactor) {
              <img class="edit-image" src="/assets/edit.svg" />
              }
            </div>
          </div>
          <div class="input-block">
            <p>Calculation formula</p>
            <div class="formula-block">
              <button class="formula-button" [routerLink]="['formula']">
                FX
              </button>
            </div>
          </div>
          <div class="total-block">
            <div class="total-title-block">
              <p>Mean chip thickness</p>
              <p>Metal removal rate</p>
              <p>Cut time</p>
              <p>Torque</p>
              <p>Power</p>
            </div>
            <div>
              <p>0.00hm | mm</p>
              <p>5.90cm³/min</p>
              <p>10.24 Seconds</p>
              <p>15.46Mc | Nm</p>
              <p>0.54Pmot | KW</p>
            </div>
          </div>
        </form>
      </div>
      @if (isOpenRakeAngleModal) {
      <app-modal-window
        [modalDetails]="rakeAngelDetails"
        (childEvent)="handlerDataRakeAngle($event)"></app-modal-window>
      } @if (isEfficiencyModal) {
      <app-modal-window
        [modalDetails]="efficiencyDetails"
        (childEvent)="handlerDataEfficiency($event)"></app-modal-window>
      } @if (isWearFactorModal) {
      <app-modal-window
        [modalDetails]="wearFactorDetails"
        (childEvent)="handlerDataWearFactor($event)"></app-modal-window>
      }
    </div>
  </div>
</div>
